<!--
=========================================================
* Argon Dashboard 2 - v2.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <base href="https://p2mmilktea.onrender.com/">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    P2M Drink
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">

  <link rel="stylesheet" href="../../assets/css/vnpay.css">
</head>
<body style="font-family: Sans-serif;">
  <div class="row">
  <div class="col-75">
    <div class="container">
          <div class="col-50">
            <h3>VNPAY</h3>
            {{#ifcond flag 1}}
                <p class="text-success text-center">GIAO DỊCH THÀNH CÔNG</p>
            {{/ifcond}}
            {{#ifcond flag 0}}
                <p class="text-danger text-center">GIAO DỊCH THẤT BẠI</p>
            {{/ifcond}}
            {{#ifcond flag 2}}
                <p class="text-danger text-center">GIAO DỊCH THẤT BẠI: {{message}}</p>
            {{/ifcond}}
            <br><br><p class="text-center"><i class="fa fa-copyright" aria-hidden="true"></i>VNPAY2023</p>
        </div>
    </div>
  </div>
</div>
</body>
</html>